/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

*.gem
*.rbc
.config

# rspec failure tracking
.rspec_status

.envrc

# project
dist/
tmp/

.envrc
.direnv/
.env
.rspec
.byebug_history
.
# ignore IDE resources
.vscode

# ignore vim tmp files
*.swp
*.swo

